body {
  background-image: url("IMAGES_Berlin_wall_graffiti.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  font-family: 'Open Sans', sans-serif;
  color: #333; /* Adjust text color for readability */
}



.profile-pic img{
	width:350px;
	padding-top:100px;
	padding-bottom:100px;
	border-radius: border-radius: 50% 10% 50% 10% /
	10% 50% 10% 50% ;
	
	
	
}

.profile-pic {
  display: flex;
  justify-content: center;
  align-items: center;
}


.words p{
font-size:25.5px;
font-family:Sans;


}



.p-container {
  background-color: #fff; /* White background */
  padding: 20px; /* Adjust padding for spacing */
  border-radius: 10px; /* Optional: Add rounded corners */
  margin: 10px; /* Add some margin for visual separation */
  padding-top:20px;
}



.p-container {
  /* ... other styles ... */
  outline: 3px solid black; /* Black outline */
}

.p-container1{
	  background-color: #eee; /* Grey background */
  padding: 20px; /* Adjust padding for spacing */
  padding-top:20px;
  border-radius: 10.5px; /* Optional: Add rounded corners */
  margin: 10px; /* Add some margin for visual separation */
    width:200px;
}







.p-container1{
	
  outline: 3px solid black; /* Black outline */
}  



.p-container2{
	  background-color: #555; /* Grey-mash background */
  padding: 20px; /* Adjust padding for spacing */
  padding-top:20px;   /* Adjust padding for spacing */
  border-radius: 10.5px; /* Optional: Add rounded corners */
  margin: 10px; /* Add some margin for visual separation */
    width:350px;
	text-align:center;
}


.p-container2{
	  outline: 3px solid black; /* Black outline */
}

.p-container2 p{
	color:#eee;
}




footer {
  text-align: center;
  padding: 25px;
  background-color: #889;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  border-radius:10px;
}

a {
  color: #000;
  text-decoration: none;
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 500px;
  margin: 12px;
}

a:hover {
  background-color: #666;
}
/* Add a second color for accent elements */
.call-to-action {
  background-color: #566;
  color: #fff;
  padding: 10px 15px;
  border-radius: 5px;
}

}



